# See http://help.github.com/ignore-files/ for more about ignoring files.
# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.swp
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/extensions.json
.history/

# Environment
.env
.env.*

# System Files
.DS_Store
Thumbs.db

# Logs
npm-debug.log
yarn-error.log

# Build-analytics
.build-analytics
.angular/cache

# User-specific ng-dev settings
.ng-dev.user*

# User-specific bazel settings
.bazelrc.user
